
<!Doctype html>
<html>
<head>
  {% include 'student/head.html' %}
  {% block css_logo %}
  <title>DATA</title>
  {% endblock %}
<body>
<nav class='header_nav'>
 {% include 'student/top_nav.html' %}
{% block nav %}
{% endblock %}
</nav>


<h1>HI welcome to student data</h1>g

<table>

  {% for key,value in data.items %}

  <tr>
    <td>{{ key }}</td>
    <td>{{ value }} </td>
  </tr>

    {% endfor %}
</table>
<div id='footer'>
{% include 'student/footer.html' %}
{% block footer %}
{% endblock %}
</div>

</body>
</html>
