
<!Doctype html>
<html lang='en-us'>
<head>
 {% include 'student/head.html'%}
  {% block css_logo %}
  <title>STUDENT</title>
  {% endblock %}

</head>

<body>
<header>
<nav class='header_nav'>
  {% include 'student/top_nav.html' %}
  {% block nav %}
  {% endblock %}
</nav>
 </header>
<h1 style='color:red'>Welcome to Student Application on Django Powered Web page</h1>
<p style='color:blue'>This is first application of django project grras</p>
<p style='color:blue'>Application name student</p>


<div class="form">
    <form method="post" action='{% url "student_make_signup" %}' >
        {% csrf_token %}
        <p style="color:red"><strong>{{ form.non_field_errors }}</strong> </p>
        {{ form.as_ul }}
        <p><input type="submit" value="LOGIN"></p>
        <p><a href="{% url 'student_signup' %}">Want to signup?</a></p>
    </form>
</div>


<div id='footer'>
 {% include 'student/footer.html' %}
 {% block footer %}
 {% endblock %}
</div>

</body>
</html>

