<!Doctype html>
<html lang='en-us'>
	<head>
		<title>Music</title>
	</head>
	<body style="background-color:#AAAAFF">
		<img src="{{ album.album_logo }}">
		<h2 style="color:#456765">{{ album.album_title }}</h2>
		<h2 style="color:#567889">{{ album.artist }}</h2>
		<!-- <ul >
		{% for song in album.song_set.all %}
		<li> {{ song.song_title }} - {{ song.file_type }} </li>
		{% endfor %}
		</ul> -->
{% if error_message %}
	<p><strong> {{ error_message }} </strong></p>
	{% endif %}

	<form action="{% url 'music:favourite' album.id %}" method="post">
		{% csrf_token %}
		{% for song in album.song_set.all %}
			<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
			<label for="{{ forloop.counter }}" >
				{{ song.song_title }}

				{% if song.is_favourite %}
					<img src="http://i.imgur.com/b9b13Rd.png" />
	{% endif %}

			</label> <br />
		{% endfor %}
		<input type="submit" value="!!Favourite!!" >

	</form>
	</body>
</html>
