.myclass h1 { color:#5555FF;
}
.ch1 {
	color:#CCCCCC;
}
.ch2 {
	color:Gray;
}
.ch3 { 
	color:Orange;
}
h1 {
	color:red;
}
h2 {
	color:yellow;
}
h3 {
	color:green;
}
h4 {
	color:purple;
}
h5 {
	color:#333333;
}
h6 {
	color:#ABCDEF;
}
