<!Doctype html>
<html>
<head>
<title>HOME</title>
<link type='text/css' rel='stylesheet' href="{{ url_for('static',filename='css/main.css') }}"
</head>
<body>
<img src="{{ url_for('static',filename='images/python.jpeg') }}" height=250 width=250 align='right'>
<h1 >Hello mr. <b><i>{{ username }} </b></i>Web Page on Flask</h1>
<h2 >This is Home page for your Dynamic Web Application</h2>
<p>Hello This is cool it is super easy.
let's discover more about flask. </p>
<a href='/'><button>Hello</button></a>

</body>
</html>
