
<!Doctype html>
<html>
<head>
<title>HOME</title>
<link type='text/css' rel='stylesheet' href="{{ url_for('static',filename='css/main.css') }}"
</head>
<body>
<img src="{{ url_for('static',filename='images/python.jpeg') }}" height=250 width=250 align='right'>
<h1 >Hello mr. <b><i>{{ user }} </b></i> Welcome to login facility</h1>
<h2 >Your password is {{ password }} </h2>
<h3 > Your Respose to be signin is {{ var }} </h3> 
<p>Hello This is cool it is super easy.
let's discover more about flask. </p>
<a href='/'><button>Hello</button></a>

</body>
</html>