body{
    background-image:url(bgimage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section{
    align-content: center;
}
section h1{
    text-align:center;
    font-size: 35px;
    font-style: italic;
    font-family: Apple Chancery, cursive;
    color: #CCCCCC;
}
#op{
    position:relative;
    left: 0%;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: aqua;
}


