<!Doctye html>
<html lang="en-us">
<head>
  <title>Test Page</title>

</head>

<body>

  <header>
    <img src="/static/media/logo.png" alt="Awesome Python Logo "  />

  </header>

  <nav>

    <h4>Simple, decent, affordable Event_Management</h4>
    <ul>

      <li>
        <p>
            item1
        </p>

      </li>
      <li>
        <p>
          item2
        </p>
      </li>
      <li>
        <p>
          item3
        </p>
      </li>
    </ul>
  </nav>
  <article>

    <h1>Our Mission</h1>
    <p>
      We believes that every man, woman and child shoud have a decent, safe and affordable place to celebrate their special moments. We organise and provide
      event Management services all over the places in india.
    </p>
  </article>

  <article>

    <h1>Why We ?</h1>
     <p>
       We are the best in market as theme wise as well as cost wise. We provide you Management services with our hearts rather then treating
       you as a client. Every client is like family member to us. If once you get assciated with us the you will your faimly member forever.
     </p>
  </article>
  <article>
    <h1>Enjoy life</h1>
    <p>
      Life is precious and every moment of life is very imprtant. So make your special moments way more attractive and unforgetable beacuse we
      assure you unbelieveable expercience.
    </p>
  </article>
  <aside>

    <h4>
    our partners</h4>
    <p>
      We have no partners in common we are unique and this is the only site .
      so stay away from fake sites and pepoles.
    </p>
  </aside>
  <footer>
    <p>
      We are the Best
      <a href="/event/new">home page</a>
    </p>
  </footer>
</body>
</html>
