body { background-color:#333333;}
h1 { color:red; }
h2 { color:blue; }
h3 { color:green; }
h4 { color:yellow; }
h5 { color:purple; }
h6 { color:orange; }

p { color:white; }

a { color:white; }

button { color:white;
        background-color: #123456; }


#table { border: 2px solid #123456; }


td { border: 2px solid #123456;
     color:black;}
footer { position: absolute;
         padding: 50px 50px 350px 350px ; }

#footer { color:blueviolet;
                  }

.header_nav { background-color: #777777;
              float: right; 
	      padding: 5px 10px 5px 15px;
      }
.nav_table table  { border:0px;
	    }
.header_nav td { border:0px; padding:0px 0px 0px; }
.header_nav button { border:0px; 
                      background-color: #777777; } 
#top_left { padding: 0px 5px 0px 0px; } 


.form_login { padding:30px 100px 30px 100px;
        border:1px solid white;
        width:300px;
}

.form_login input[type=submit] { background-color:#333333; color:white; padding:0px 20px 0px 20px; float:right;}

.form div {  margin: auto; }